.form-container {
  align-self: center;
  padding: 1em;
  width: 50%;
  height: 20rem;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
  transition: all 2s ease;
}

.form-container h3 {
  text-align: center;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form-container .form .sign-input {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em auto;
  font-size: 1rem;
  border-radius: 20px;
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.4);
  border: 2px solid #e0e0e0;
  outline: none;
  transition: all 1s ease;
}

.form-container .form .sign-input:focus,
.form-container .form .sign-input:active {
  border: 2px solid #00bcd4;
}

.form-container .form .sign-input:valid {
  border: 2px solid blue;
}

.sign-btn {
  width: 50%;
  height: 2rem;
  margin: 3em auto;
  background: #00bcd4;
  border: none;
  border-radius: 10px;
}

.form-container .form .sign-btn:hover {
  box-shadow: 3px 8px 16px rgba(0, 0, 0, 0.5);
}

.form-container .form a {
  margin: auto;
}

.form-container .form label {
  margin-top: 0.6em;
}
