.form-div {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1em;
  width: 30rem;
  height: 40rem;
  margin: 4em auto;
  border: 2px solid #b0bec5;
  border-radius: 6px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
  transition: all 2s ease;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50rem;
}
.input {
  height: 3rem;
  width: 100%;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
}

.square_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #00bcd4;
  color: #fff;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 1);
}
.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: 0.5s translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
